MONGOURI=mongodb://<username>:<password>@<:11111/cs301_mongodb?retryWrites=true&w=majority
MONGO_USERNAME=localhost
MONGO_PASSWORD=localhost
MONGO_HOST=localhost
MONGO_PORT=11111
ENV=debug
PORT=11112
